* {
    margin: 0%;
    padding: 0%;
    }
    
    .cabeçalho{
    background-color: rgba(255, 205, 205, 0);
    color: black;
    display: flex;
    justify-content:space-between
    align-items: center;
    padding: 24px 0;
    }
    
    .cabeçalho_imagem{
    width: 5%;
    align-items: center;
    justify-content: space-around;
    }
    
    .cabeçalho_titulo{
    font-size: 50px;
    align-items: center;
    color: black;
    }
    
    .cabeçalho_lista_item{
    margin: 45px 0px 45px 0px;
    font-size: 16px;
    }
    
    .apresentaçao_trabalho{
    background-image: linear-gradient(color);
    display: list-item;
    align-items: center;
    padding: 24px 0;
    text-decoration: none;
    }
    
    .titulo_apresentaçao_trabalho{
    font-size: 30px;
    }
    
    .imagem_arvore{
    width: 15%;
    }

    .center {
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    a {
        color: black;
    }

    nav a {
     cursor: pointer;
    }

    nav a :hover {
        color: red;
    }